.createTaskButton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    outline: none;
    background: var(--panel-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px 0 #f0c5e689;
}

.createTaskButton img {
    width: 65%;
    height: auto;
}

.app-title-bar {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 30px; */
    font-weight: bold;
    background-color: #47437f45;
    backdrop-filter: blur(15px);
    position: fixed;
    transition: box-shadow 0.2s ease-in-out;
    z-index: 10000;
}

.app-title-bar-description {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: calc(100% - 50px);
    height: 100%;
    margin-bottom: 5px;
}

.app-title-bar-button {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 50px;
    height: 100%;
}

.app-title-bar-description span:nth-child(1) {
    font-size: 25px;
}

.app-title-bar-description span:nth-child(2) {
    font-size: 15px;
    font-weight: lighter;
}

.app-title-bar.scrolled {
    box-shadow: 0 0 24px 16px rgba(0, 0, 0, 0.4);
}