/* GLOBAL */
body {
    background-color: #47437F;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: system-ui;
}

details summary {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 14px 20px;
    border-radius: 10px;
    background: var(--task-background-color);
    transition: all 0.2s ease-in-out;
    padding: 5px 0;
}

details[open] summary {
    background: linear-gradient(to right, #d91daf, #f16e60);
}

:root {
    --primary-color: #1c6beb;
    --panel-accent-color: linear-gradient(to right, #d91daf, #f16e60);
    --panel-text-shadow: 0px 0px 12px rgba(74, 233, 90, 1);
    --task-background-color: linear-gradient(to right, #272858, hsl(246, 40%, 35%));
}

.primary-btn,
.secondary-btn {
    height: 45px;
    min-width: 140px;
    font-size: 18px;
    font-family: system-ui;
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
    border: none;
    font-weight: bold;
    margin: 5px;
}

.primary-btn {
    background-color: var(--primary-color);
    color: white;
}

.secondary-btn {
    background-color: #d8d8d8;
}

/* INDEX.HTML */
.container {
    width: 100%;
    height: 100%;
}

.switch-ui-button {
    width: 450px;
    height: 75px;
    font-size: 40px;
}

.login-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginForm {
    width: 100%;
    height: 90vw;
    background-color: rgba(153, 153, 153, 0.192);
    backdrop-filter: blur(10px);
    /* border-top: 2px solid #ccc; */
    /* border-bottom: 2px solid #ccc; */
    box-shadow: 0 0 24px 16px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: white;
}

.login-input {
    width: 280px;
    height: 40px;
    margin: 10px 0;
    /* border: 3px solid rgba(0, 0, 0, 0.199); */
    border: none;
    border-bottom: 3px solid white;
    border-radius: 5px;
    outline: none;
    font-size: 24px;
    text-align: center;
    background-color: rgba(19, 19, 19, 0.3);
    color: white;
    transition: all 0.2s ease-in-out;
}

.login-input:focus {
    border-bottom: 3px solid var(--primary-color);
}

.login-input::placeholder {
    color: rgba(255, 255, 255, 0.521);
}

.login-button {
    width: 70%;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
}

#loginMessage {
    color: white;
    font-size: 50px;
}


/* MAIN.HTML */
.options-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option {
    background-color: transparent;
    width: 100%;
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: white;
    background-color: rgba(153, 153, 153, 0.192);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 24px 16px rgba(0, 0, 0, 0.5);
}

.option:hover {
    background-color: rgba(20, 103, 220);
    color: white;
    cursor: pointer;
}

.notifs-blocker {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifs-info {
    width: 100%;
    min-height: 25%;
    height: fit-content;
    padding: 20px;
    background-color: rgb(35, 31, 63);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 0 16px 8px #00000077;
    border-top: 2px solid rgba(61, 54, 109, 1);
    border-bottom: 2px solid rgba(61, 54, 109, 1);
}

#enableNotifsBtn {
    margin-top: 20px;
    font-size: 20px;
}

.notifs-response {
    display: none;
    margin-top: 20px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

/* CHECKCREATEDTASKS.HTML - CHECKYOURTASKS.HTML */
.createTaskButton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    outline: none;
    background: var(--panel-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px 0 #f0c5e689;
}

.createTaskButton img {
    width: 65%;
    height: auto;
}

.tasks-title-bar {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 30px; */
    font-weight: bold;
    background-color: #47437f45;
    backdrop-filter: blur(15px);
    position: fixed;
    transition: box-shadow 0.2s ease-in-out;
}

.tasks-title-bar-description {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-bottom: 5px;
}

.tasks-title-bar-button {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.tasks-title-bar-description span:nth-child(1) {
    font-size: 25px;
}

.tasks-title-bar-description span:nth-child(2) {
    font-size: 15px;
    font-weight: lighter;
}

.tasks-title-bar.scrolled {
    box-shadow: 0 0 24px 16px rgba(0, 0, 0, 0.4);
}

.tasksContainer, .refuelContainer {
    padding-top: 80px;
    padding-bottom: 65px;
}

.task {
    width: calc(100% - 32px - 28px);
    min-height: 50px;
    background: var(--task-background-color);
    color: rgb(229, 244, 255);
    padding: 16px;
    margin: 0 14px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3); */
}

.status-span {
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.first-task-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.second-task-line {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 6px;
    justify-content: space-between;
}

.additional-info {
    display: none;
    flex-direction: column;
    margin: 12px 0;
    padding: 6px 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    color: #868686;
    font-style: italic;
}

.additional-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.task-title {
    font-weight: bold;
    text-align: center;
}

.task-details {
    display: flex;
    justify-content: space-between;
}

.task-times>span {
    display: flex;
    justify-content: space-between;
}

.task-buttons {
    width: 100%;
    display: none;
    justify-content: space-evenly;
    margin-top: 5px;
}

/* CREATETASK.HTML */

.task-create-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-create-form span {
    font-size: 30px;
    color: white;
}

.task-create-form select,
.task-create-form textarea {
    width: 300px;
    font-size: 20px;
    margin: 5px 0 20px 0;
}

.task-create-form select {
    height: 45px;
}

.task-create-form textarea {
    height: 100px;
}

.task-create-form .task-deadlines {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0 20px 0;
}


/* TEST.HTML */
.main-options-panel {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.options-panel {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.panel-option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.panel-option svg {
    width: 30%;
    height: auto;
}

.navigation-bar {
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to top, #2b285b, #352f6d);
    box-shadow: 0 0 24px 16px rgba(0, 0, 0, 0.3);
}

.selected-option-panel {
    width: 100%;
    height: 5px;
}

.selected-option {
    background: var(--panel-accent-color);
    height: 5px;
    transition: all 0.1s ease-in-out;
}

.create-task-form-container {
    width: 100%;
    height: 100vh;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-text {
    background: linear-gradient(to right, #de16b4, #de16b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* dla innych przeglądarek */
    background-clip: text;
    color: transparent;
}

/* APPLIST */

.apps-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start
}

.apps-container *{
    transition: all 0.2s ease-in-out;
}

.app-box {
    width: calc(50% - 20px - 20px);
    height: 200px;
    background: var(--task-background-color);
    outline: 4px solid rgba(204, 204, 204, 0.3);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.app-box:hover {
    outline: 4px solid rgb(204, 204, 204);
    box-shadow: 0 0 16px 8px rgba(255, 255, 255, 0.3);
}

.app-box:hover img {
    opacity: 100%;
}

.app-box:hover .app-title {
    color: white;
}

.app-icon {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon img {
    height: 75%;
    width: auto;
    opacity: 30%;
}

.app-title {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}


/* STATS */
.stats-container{
    padding-top: 80px;
    padding-bottom: 65px;
    width: 100%;
    height: 100%;
}

.task-widget {
    width: calc(100% - 28px - 40px);
    margin: 14px;
    background: var(--task-background-color);
    padding: 20px; /* np. wewnętrzny margines */
    border-radius: 10px;
}

.task-widget-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.task-pie-chart{
    height: 300px;
}

/* .task-pie-chart-title{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
    font-weight: bold;
} */

.task-pie-chart-canvas{
    width: 100%;
    /* height: calc(87% - 10px - 30px); */
    height: calc(100% - 10px - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.task-pie-chart canvas {
    width: 100%;
    height: fit-content;
    filter: drop-shadow(0px 0px 10px #0000006e);
}

.double-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.task-widget-double-first, .task-widget-double-second{
    width: calc(50% - 5px);
    color: white;
}
.task-widget-double-first span:nth-of-type(1), .task-widget-double-second span:nth-of-type(1){
    font-size: 40px;
    font-weight: bold;
    line-height: 42px;
    margin: 0 10px;
}
.task-widget-double-first span:nth-of-type(2), .task-widget-double-second span:nth-of-type(2){
    font-size: 14px;
    margin: 0 10px;
}
.task-widget-double-first{
    background: linear-gradient(to right, rgba(0,0,0, 0), #57ee73cd);
    text-align: right;
}
.task-widget-double-second{
    background: linear-gradient(to right, #e63636cd, rgba(0,0,0, 0));
}


/* REFUEL CREATE */

.refuel-create-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.refuel-create-form span {
    font-size: 30px;
    color: white;
}

.refuel-create-form select, input{
    width: 300px;
    font-size: 20px;
    margin: 5px 0 20px 0;
    height: 45px;
}